name: Run Tests & Coverage

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.2', '8.3', '8.4']
        laravel: ['^10.0', '^11.0', '^12.0']
        exclude:
          - php: '8.2'
            laravel: '^12.0'
          - php: '8.4'
            laravel: '^10.0'
          - php: '8.4'
            laravel: '^11.0'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, xml
          coverage: xdebug

      - name: Install Laravel Dependencies
        run: composer require "laravel/framework:${{ matrix.laravel }}" --no-interaction --no-update

      - name: Install Dependencies
        run: composer install --prefer-dist --no-progress

      - name: Run Tests
        run: vendor/bin/phpunit --coverage-clover build/logs/clover.xml

      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: build/logs/clover.xml
          parallel: true
          run-id: ${{ github.run_id }}

  coveralls:
    name: Finalize Coveralls
    needs: test
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Send Coveralls Finished
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
          run-id: ${{ github.run_id }}