name: Run Tests & Coverage

# Triggers on 'push' or 'pull_request'
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    
    strategy:
      # Don't cancel all jobs if one fails
      fail-fast: false 
      matrix:
        php: ['8.2', '8.3', '8.4']
        laravel: ['^10.0', '^11.0', '^12.0']
        exclude:
          - php: '8.2'
            laravel: '^12.0'
          - php: '8.4'
            laravel: '^10.0'
          - php: '8.4'
            laravel: '^11.0'

    steps:
      # 1. Checkout the code
      - name: Checkout
        uses: actions/checkout@v4

      # 2. Setup PHP
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, xml
          coverage: xdebug

      # 3. Install Laravel Dependencies
      - name: Install Laravel Dependencies
        run: composer require "laravel/framework:${{ matrix.laravel }}" --no-interaction --no-update

      # 4. Install Dependencies
      - name: Install Dependencies
        run: composer install --prefer-dist --no-progress

      # 5. Run tests
      - name: Run Tests
        run: vendor/bin/phpunit --coverage-clover build/logs/clover.xml

      # 6. Upload coverage
      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: build/logs/clover.xml
          # Tell Coveralls this is part of a parallel build
          parallel: true 

  # This job will run ONLY after all 'test' jobs are finished
  coveralls:
    name: Finalize Coveralls
    # 'needs' waits for the 'test' job matrix to complete
    needs: test 
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Send Coveralls Finished
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # Tell Coveralls to merge all parallel jobs
          parallel-finished: true